extends layouts/layout-primary

block content
  //- Delete all this markup to begin
  main
    section
      .logo
        +svg('logo')
      h1 Welcome to our <br/>Project Starter!
      p Happy coding :)